body{
    overflow: hidden;
    margin: 0;
}
main{
    height: 90vh;
    width: 96vw;

    margin: 0 1% 0 1%;
    padding: 0 1%;

    font-size: 1em;
    overflow: hidden;

    display: flex;
    justify-content: space-around;
}

.main-agenda-wrapper{
    position: relative;
}

.main-agenda-wrapper::before, .main-agenda-wrapper::after{
    content: "";
    position: absolute;
    top: 0;
    width: 16px;
    height: 16px;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.main-agenda-wrapper::before{
    left: -16px;
    background: radial-gradient(circle at bottom left, transparent 15px, rgba(0,0,0,0.4) 16px);
}
.main-agenda-wrapper::after{
    right: -16px;
    background: radial-gradient(circle at bottom right, transparent 15px, rgba(0,0,0,0.4) 16px);
}

.agenda-wrapper{
    height: calc(85vh - 20px);
    width: calc(70vw + 15px);
    overflow-y: scroll;
    overflow-x: hidden;


    padding-left: 6.5em;
    padding-top: 20px;

    background-color: var(--black-transparent);
    border-radius: 0 0 16px 16px;
}

.agenda-grid-wrapper{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(96, 12px);

    width: calc(70vw + 15px);
    overflow-y: visible;
    overflow-x: visible;
    scroll-margin-top: 200px;
}

/* agenda lines */

/* day lines */
.agenda-line-wrapper{
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    width: calc(70vw + 15px);

    position: absolute;

    z-index: -1;
}
.agenda-day-line{
    width: 1px;
    background: var(--white);
    border-radius: 10px;
    height: 86.60vh;
    margin-top: -4vh
}

/* hour lines */
.agenda-times{
    display: grid;
    grid-template-rows: repeat(24, 48px);
}

.time-wrapper{
    position: relative;
    width: fit-content;
}
.time-line{
    width: 82vw;
    position: absolute;
    left: -1vw;
    top: 0;
    height: 1px;
    background: var(--white);

    z-index: -1;
 }

.time-header{
    position: relative;
    left: -4vw;
    top: -10px;
}

.current-time-line{
    background-color: red;
    width: calc(10vw + 2px);
    height: 2px;
    position: relative;

    z-index: 99
}
.current-time-line::before{
    content: "";
    position: absolute;
    left: -5px;
    width: 10px;
    height: 10px;
    margin-top: -4px;
    
    background-color: red;
    border-radius: 50%;
}

/* agenda items */
.agenda-date0{grid-column: 1;}
.agenda-date1{grid-column: 2;}
.agenda-date2{grid-column: 3;}
.agenda-date3{grid-column: 4;}
.agenda-date4{grid-column: 5;}
.agenda-date5{grid-column: 6;}
.agenda-date6{grid-column: 7;}


.agenda-item-temp, .agenda-item{
    overflow-y: auto;
    width: calc(95% - 10px);
    border-radius: 4px;
    margin-left: 1px;
    padding-left: 5%;
    
    overflow-y: auto;
    overflow-x: hidden;

    position: relative;
}
.agenda-item form{
    width: 100%;
    height: 100%;
}
.agenda-item-naam, #agenda-naam{
    width: 90%;
    height: 50px;
    font-size: 2em;
    border-radius: 10px;
    padding-left: 5%;
    font-weight: bold;
    outline: none;
    border: none;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: var(--black-transparent);
}

.agenda-item-omschrijving, #agenda-omschrijving{
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    min-height: 1.5em;
    font-size: 1.5em;
    border-radius: 10px;
    padding-left: 5%;
    outline: none;
    border: none;
    margin-bottom: 5%;
    background-color: var(--black-transparent);
}

.agenda-item-tijd{
    width: fit-content;
    border-radius: 10px;
    padding: 10% 5% 10% 5%;
    outline: none;
    border: none;
    margin-bottom: 5%;
    background-color: var(--black-transparent);
    color: white;
}

.agenda-delete, #agenda-submit{
    background-color: var(--black-transparent);
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 5%;
    width: fit-content;
    min-width: 50%;
    transition: all 0.2s ease-in-out;
}

.agenda-delete:hover, #agenda-submit:hover{
    transform: scale(1.1);
    background-color: var(--black);
    color: var(--white);
}

.agenda-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.change-time-item {
    width: 100%;
    height: 10px;
    cursor: ns-resize;
    position: absolute;
    left: 0;
    right: 0;
}

.change-time-item-top {
    top: 0;
}

.change-time-item-bottom {
    bottom: 0;
}

#agenda-functie, #agenda-repeat{
    width: 90%;
    height: 30px;
    border-radius: 10px;
    padding-left: 5%;
    font-weight: bold;
    outline: none;
    border: none;
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: var(--black-transparent);
}