.agenda-header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    width: calc(80% - 10px);
    right: 0;
    font-weight: bold;
    text-align: center;
    position: fixed;
    z-index: 99;
    top: 5vh;

    background: rgba(20, 1, 82, 1);

    padding: 1% 0;
    border-radius: 0 0 10px 10px;

    /* margin-top: -1005px; */

    margin-right: 10px;

    overflow: visible;
}

.agenda-day {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border: 1px solid var(--text);
    position: relative;
    box-sizing: border-box;
    background: var(--federal-blue);
    opacity: 100%;

    margin-left: 10px;
    margin-right: 10px;
}

.current-day{
    background: var(--text);

}

.current-day label{
    color: var(--oxford-blue);
}