body{
    overflow: hidden;
    margin: 0;
}

.main-main-agenda-wrapper{
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
    float: right;


    padding-left: 200px;
    padding-top: 20px;

}
.main-agenda-wrapper{
    display: flex;
}

.agenda-grid-wrapper{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(96, 15px);
    grid-column-gap: 1%;

    width: 79vw;
    height: 100%;
    overflow-y: visible;
    overflow-x: visible;
    scroll-margin-top: 200px;
}

.agenda-item, .agenda-item-temp{
    overflow-y: auto;
    border-radius: 10px 0 0 10px;
    padding: 1%;
    word-wrap: break-word;

    position: relative;
}

/* agenda lines */

/* day lines */
.agenda-line-wrapper{
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    width: 80%;
    right: 0;

    margin-right: 3px;
    grid-row-gap: 10px;
    position: absolute;

    z-index: -1;
}
.agenda-day-line{
    width: 1px;
    background: rgb(127, 119, 119);
    opacity: 0.75;
    border-radius: 10px;
    height: 95vh;
    margin-top: -4vh
}

/* hour lines */
.agenda-times{
    display: grid;
    grid-template-rows: repeat(24, 60px);
}

.time-wrapper{
    position: relative;
    width: fit-content;
}
.time-line{
    width: 82vw;
    position: absolute;
    left: -1vw;
    top: 0;
    height: 1px;
    opacity: 0.75;
    background: var(--text);

    z-index: -1;
 }

.time-header{
    position: relative;
    left: -4vw;
    top: -10px;
}

/* agenda items */
.agenda-date0{grid-column: 1;}
.agenda-date1{grid-column: 2;}
.agenda-date2{grid-column: 3;}
.agenda-date3{grid-column: 4;}
.agenda-date4{grid-column: 5;}
.agenda-date5{grid-column: 6;}
.agenda-date6{grid-column: 7;}


.agenda-item-temp, .agenda-item{
    background: var(--text);
    color: var(--oxford-blue);
    overflow-x: hidden;

    border: 1px solid white;
    transition: all 0.5s ease-in-out;
}

.agenda-item-temp input[type="text"], #end-start-time{
    background: rgba(34, 0, 124, 0%);
    border: none;
    padding: 5%;
    color: var(--text);
}
#agenda-naam{
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 5px;
    width: 80%;
    overflow: scroll;
}

#agenda-omschrijving{
    width: 80%;
    font-size: 1.1em;
}

.agenda-item-temp input[type="text"]:focus, .agenda-item-temp input[type="text"]:active, #end-start-time:focus, #end-start-time:active{
    outline: none;
}

#agenda-submit{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--text);
    background: var(--oxford-blue);
    color: var(--text);
    font-weight: bold;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
    margin: 5%;
}

#agenda-submit:hover{
    background: var(--text);
    color: var(--oxford-blue);
}

#add-to-agenda-form{
    display: flex;
    flex-wrap: wrap;

    align-content: space-between;
    height: 100%;
}

#agenda-functie, #agenda-functie *{
    width: 80%;
    padding: 5%;
    border-radius: 10px;
    border: 1px solid var(--text);
    background: var(--oxford-blue);
    color: var(--text);
    font-weight: bold;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
    margin: 5%;
}

.agenda-form-wrapper{
    display: flex;
    flex-wrap: wrap;

    align-content: space-between;
    height: 50%;
}

.agenda-delete, .agenda-edit{
    width: 40%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--text);
    background: var(--oxford-blue);
    color: var(--text);
    font-weight: bold;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
    margin: 5%;

    bottom: 0;
    position: absolute;
}

.agenda-delete{
    right: 0;
}

.agenda-delete:hover, .agenda-edit:hover{
    background: var(--text);
    color: var(--oxford-blue);
}


/* agenda filer */
.agenda-filter-wrapper{
    background-color: var(--neavy-blue);
    width: 100%;

    padding: 1%;
    border-radius: 10px;
}

.agenda-filter-wrapper form{
    width: 12vw;
}

.filter-submit{
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--text);
    background: var(--oxford-blue);
    color: var(--text);
    font-weight: bold;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
    margin: 5%;
}

.filter-submit:hover{
    background: var(--text);
    color: var(--oxford-blue);
}

#filter-functie{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--text);
    background: var(--oxford-blue);
    color: var(--text);
    font-weight: bold;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
    margin: 5%;
}


/* agenda remove/add functie */

.functie-line{
    width: 100%;
    background: var(--text);
    opacity: 0.75;
    height: 1px;
    display: block;
    border-radius: 10px;
}

.functie-wrapper{
    background-color: var(--neavy-blue);
    border-radius: 10px;

    width: 100%;
    padding: 1%;


    height: 55vh;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgb(13, 181, 167) var(--neavy-blue);

    box-sizing: border-box;
}

.functie-wrapper form{
    width: 12vw;
}

#new-functie{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--text);
    background: var(--oxford-blue);
    color: var(--text);
    font-weight: bold;
    cursor: text;

    transition: all 0.2s ease-in-out;
    margin: 5%;
}

#new-color{
    border-radius: 10px;
    width: 90%;
    height: 50px;
    border: 1px solid var(--text);
    background: var(--oxford-blue);
    color: var(--text);
    font-weight: bold;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
    margin: 5%;
}

.new-color-submit{
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--text);
    background: var(--oxford-blue);
    color: var(--text);
    font-weight: bold;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
    margin: 5%;
}
.new-color-submit:hover{
    background: var(--text);
    color: var(--oxford-blue);
}

.remove-functie-wrapper{
    background-color: var(--neavy-blue);
    border-radius: 10px;

    padding: 1%;

    width: 100%;
    height: fit-content;
}

#remove-color-select{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--text);
    background: var(--oxford-blue);
    color: var(--text);
    font-weight: bold;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
    margin: 5%;
}

.remove-color-submit{
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--text);
    background: var(--oxford-blue);
    color: var(--text);
    font-weight: bold;
    cursor: pointer;

    transition: all 0.2s ease-in-out;
    margin: 5%;
}

.remove-color-submit:hover{
    background: var(--text);
    color: var(--oxford-blue);
}

.view-wrapper {
    background-color: black;
    width: 15vw;
    height: 80vh;

    position: fixed;

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;

    overflow-y: auto;
    overflow-x: hidden;

    top: 6.5%;
    left: 0.5%
}