:root{
    --oxford-blue: rgb(4, 5, 46);
    --federal-blue: rgb(20, 1, 82);
    --neavy-blue: rgb(34, 0, 124);
    --dark-blue: rgb(13, 0, 164); 

    --black: #04060d;
    --black-transparent: #04060d66;
    --iron: #D3D4D7;
    --white: #FFFFFF;
    --dark-blue: #2824e4;
    --blue: #4034fc;
    --light-blue: #3E8DE3;
    --light-blue-transparent: #3f8fe480;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

/* text */
h1, h2, h3, h4, h5, h6, p, li, a, button, textarea, select, option, label, i{
    color: var(--white);
}

body{
    min-height: 98vh;
    background-image: url("../IMG/background-dark.png");
    background-size: cover;
}

div{
    scrollbar-width: thin;
}

/*width */
div::-webkit-scrollbar{
    width: 15px;
}

/* Track */
div::-webkit-scrollbar-track {
    background: var(--black-transparent);
}

/* Handle */
div::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 10px;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;

}

/* Handle on hover */
div::-webkit-scrollbar-thumb:hover {
    background: var(--black);
    border-radius: 10px;
}

